@font-face {
  font-family: "Hany";
  src: url("./assets/fonts/hany/Hany-M.woff") format("woff"),
    url("./assets/fonts/hany/Hany-M.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-400.woff") format("woff"),
    url("./assets/fonts/nunito/Nunito-400.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-900.woff") format("woff"),
    url("./assets/fonts/nunito/Nunito-900.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #353535;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  display: block;
}

input,
button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #292929;
}

p {
  margin: 0;
}

.react-datepicker-wrapper {
  width: 190px;
}
